__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.egg-info/
*.egg
*.cache/
*.coverage
*.patch
*.diff
*.sublime-*
*.swp
*.bak
*.orig
*.old
*.tgz
*.gz
*.rar
*.zip
*.tar
*.bz2
*.wpr
*.pyproj
*.suo
*.swo
.DS_Store
.idea
*.iml
.venv/
venv/
dist/
build/
